.Splash {
  margin: 0 10%;
}

.Splash>div.jumbotron {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.jumbotron>h1 {
  font-size: 32px;
}

.Splash div.infoGraphic {
  display: flex;
  background-color: white;
  align-items: center;
}

.Splash>div.iosDevices {

}

.Splash img {
  height: 600px;
  width: auto;
}

.Splash>div.graphs {
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.Splash>div.graphs>div {
  display: flex;
  flex-direction: column;
}

.graphsList {

}

.graphHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  font-weight: 300;
}

.graphHeader>p.graphTitle {
  margin-top: auto;
  font-size: 18px;
}

.graphHeader>p.graphAverage {
  margin-top: auto;
  font-size: 18px;
  margin-left: auto;
  color: blue;
}


.graphsList li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.graphsList li>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 4px;
  background-color: #FF8300;
}

.graphsList li>div>p {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.graphsList li>p {
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0;
}

.graphsList li>p.graphTime {
  text-align: center;
  width: 100px;
  margin-top: auto;
}
